# see https://github.com/github/linguist
projects/01/* linguist-vendored
projects/02/* linguist-vendored
projects/03/* linguist-vendored
projects/04/* linguist-vendored
projects/05/* linguist-vendored
projects/06/add/* linguist-vendored
projects/06/max/* linguist-vendored
projects/06/pong/* linguist-vendored
projects/06/rect/* linguist-vendored
projects/06/assembler/src/test/resources/**/* linguist-vendored
tools/* linguist-vendored